@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700&family=Space+Mono:ital,wght@1,700&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}


.body{
    /* border: 2px solid; */
    display: flex;
    font-family: 'Manrope', sans-serif;
    font-weight: 400;
    width: 100%;
    
}

.left{
    /* border: 2px solid green; */
    width: 32%;
}

.right{
    /* border: 2px solid; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 65%;
}

.left{
    /* border: 2px solid; */
}

.bottom{
    /* border: 2px solid; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

/* @media (min-width: 320px) and (max-width: 480px){
.body{
    width: 80%;
    height: 100vh;
} 
} */