@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700&family=Space+Mono:ital,wght@1,700&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: auto;
}

.body{
    display: flex;
    font-family: 'Manrope', sans-serif;
    font-weight: 400;
}

.left{
    /* border: 2px solid green; */
    width: 33%;
}

.right{
    /* border: 2px solid; */
    width: 67%;
}

.left{
    /* border: 2px solid; */
}

.bottom{
    /* border: 2px solid; */
    display: flex;
    flex-direction: row;
}

/* @media (min-width: 320px) and (max-width: 480px){
.body{
    width: 80%;
    height: 100vh;
} 
} */